<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>

<body>
    <h1>Clarke</h1>
    <p>‎En 1995, Clarke dejó ‎‎Dundalk‎‎ para estudiar Ciencias de la Computación e Inteligencia Artificial en la
        ‎‎Universidad de Edimburgo,‎‎Escocia. Mientras estaba en Edimburgo, se convirtió en presidente de la entonces
        inactiva Sociedad de Inteligencia Artificial, lo que resultó en su renacimiento. ‎‎ ‎‎[4]‎‎ ‎‎ En el último año
        de Clarke en Edimburgo, completó su proyecto de último año, titulado "A Distributed, Decentralised Information
        Storage and Retrieval System". En julio de 1999, después de recibir una calificación 'B' por su artículo,
        decidió lanzarlo a Internet e invitó a voluntarios para ayudar a implementar su diseño. El proyecto de software
        libre resultante se conoció como ‎‎Freenet,‎‎y atrajo una atención significativa de los principales medios de
        comunicación y tecnológicos. ‎‎ ‎‎[5]‎‎[6]‎‎[7]‎‎ ‎

        ‎En agosto de 1999, Clarke comenzó su primer trabajo a tiempo completo como desarrollador de software en la
        División Espacial de ‎‎Logica‎‎ plc, una empresa de consultoría de software con sede en Londres. En febrero de
        2000, dejó Logica para unirse a una pequeña empresa de software llamada Instil Ltd.‎‎[4]‎‎ ‎‎ En agosto de 2000,
        dejó Londres para ir a ‎‎Santa Mónica, California,‎‎donde cofundó Uprizer, Inc. con la intención de
        comercializar algunas de sus ideas relacionadas con Freenet. ‎‎ ‎‎[8]‎‎ ‎‎ En enero de 2001, Uprizer Inc.
        recaudó con éxito 4 millones de dólares en financiación de riesgo ‎‎de la serie A‎‎ de inversores como Intel
        ‎‎Capital.‎‎ ‎‎ ‎‎[9]‎‎ ‎

        ‎En marzo de 2001, Clarke publicó un artículo que describe FairShare, desarrollado en colaboración con los
        cofundadores de Uprizer, ‎‎Steven Starr‎‎ y Rob Kramer. A Clarke le preocupa que el derecho de autor sea cada
        vez más difícil de hacer cumplir en la era de Internet, el objetivo de Fairshare es proporcionar una alternativa
        al derecho de autor como una forma de compensar a los creadores. ‎‎ ‎‎[10]‎‎ ‎</p>
    <img src="images/clarke.jpg" alt="Imágen de Clarke">
</body>

</html>