<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>

<body>
    <h1>Hopper</h1>
    <p>‎Grace Brewster Murray Hopper‎‎ (nacida ‎‎Murray‎‎ ‎‎el 9‎‎ ‎‎ ‎‎ ‎‎de diciembre de 1906 – 1 de enero de 1992)
        fue una científica ‎‎informática‎‎ estadounidense y ‎‎contraalmirante‎‎ ‎‎de la Armada de los Estados Unidos.‎‎
        ‎‎ ‎‎[1]‎‎ ‎‎ Una de las primeras programadoras de la computadora ‎‎Harvard Mark I,‎‎ fue una pionera de la
        programación de computadoras que inventó uno de los ‎‎primeros enlazadores.‎‎ Hopper fue la primera en idear la
        teoría de los lenguajes de programación independientes de la máquina, y el lenguaje de programación
        ‎‎FLOW-MATIC‎‎ que creó utilizando esta teoría se amplió más tarde para crear ‎‎COBOL,‎‎un lenguaje de
        ‎‎programación‎‎ de alto nivel temprano que todavía se usa hoy en día. ‎

        ‎Antes de unirse a la Marina, Hopper obtuvo un doctorado en matemáticas de ‎‎la Universidad‎‎ de Yale y fue
        profesor de matemáticas en ‎‎el Vassar College.‎‎ Hopper intentó alistarse en la Marina durante la ‎‎Segunda
        Guerra Mundial,‎‎ pero fue rechazada porque tenía 34 años. En su lugar, se unió a las Reservas de la Marina.
        Hopper comenzó su carrera informática en 1944 cuando trabajó en el equipo Mark I de Harvard dirigido por
        ‎‎Howard H. Aiken.‎‎ En 1949, se unió a la ‎‎Eckert-Mauchly Computer Corporation‎‎ y formó parte del equipo que
        desarrolló la computadora ‎‎UNIVAC I.‎‎ En Eckert-Mauchly gestionó el desarrollo de uno de los primeros
        compiladores ‎‎COBOL.‎‎ Ella creía que un lenguaje de programación basado en el inglés era posible. Su
        compilador convirtió términos en inglés en ‎‎código máquina‎‎ entendido por computadoras. En 1952, Hopper había
        terminado su enlazador de programas (originalmente llamado ‎‎compilador),‎‎que fue escrito para el ‎‎Sistema
        A-0.‎‎ ‎‎ ‎‎[2]‎‎[3]‎‎[4]‎‎[5]‎‎ ‎‎ Durante su servicio en tiempos de guerra, fue coautora de tres artículos
        basados en su trabajo sobre la Marca 1 de Harvard.‎</p>
    <img src="images/hopper.jpg" alt="Imágen de Hopper">
</body>

</html>