<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
</head>

<body>
    <h1>Lovelace</h1>
    <p>‎Augusta Ada King, condesa de Lovelace (nacida‎‎ ‎‎Byron;‎‎10 de diciembre de 1815 - 27 de noviembre de 1852) fue
        una matemática y escritora inglesa, principalmente conocida por su trabajo en la ‎‎computadora‎‎mecánica de
        propósito general propuesta por ‎‎Charles Babbage,‎‎la ‎‎Máquina Analítica.‎‎ ‎‎ Ella fue la primera en
        reconocer que la máquina tenía aplicaciones más allá del cálculo puro, y en haber publicado el primer
        ‎‎algoritmo‎‎ destinado a ser llevado a cabo por una máquina de este tipo. Como resultado, a menudo se la
        considera como la primera programadora de ‎‎computadoras.‎‎ ‎‎ ‎‎[2]‎‎[3]‎‎[4]‎‎ ‎

        ‎Ada Byron fue la única hija del poeta ‎‎Lord Byron‎‎ y la matemática ‎‎Lady Byron.‎‎ ‎‎ ‎‎[5]‎‎ ‎‎ Todos los
        ‎‎otros hijos de Byron‎‎ nacieron fuera del matrimonio con otras mujeres. ‎‎ ‎‎[6]‎‎ ‎‎ Byron se separó de su
        esposa un mes después de que Ada naciera y dejó Inglaterra para siempre. Cuatro meses más tarde, conmemoró la
        despedida en un poema que comienza: "¡Es tu rostro como el de tu madre mi hija justa! ¡ADA! única hija de mi
        casa y de mi corazón?". ‎‎ ‎‎[7]‎‎ ‎‎ Murió en Grecia cuando Ada tenía ocho años. Su madre se mantuvo amargada y
        promovió el interés de Ada en las matemáticas y la lógica en un esfuerzo por evitar que desarrollara la
        ‎‎locura‎‎percibida de su padre. A pesar de esto, Ada siguió interesada en él, nombrando a sus dos hijos Byron y
        Gordon. A su muerte, fue enterrada junto a él a petición suya. Aunque a menudo enferma en su infancia, Ada
        continuó sus estudios asiduamente. Se casó con ‎‎William King‎‎ en 1835. King fue nombrado ‎‎conde de Lovelace‎‎
        en 1838, Ada se convirtió así en condesa de Lovelace.‎</p>
    <img src="images/lovelace.jpg" alt="Imágen de Lovelace">
</body>

</html>