<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>

<body>
    <h1>Turing</h1>
    <p>‎Alan Mathison Turing‎‎ ‎‎ ‎‎OBE‎‎ ‎‎FRS‎‎ ‎‎ ‎‎(/‎‎ˈ‎‎tj‎‎ʊər‎‎ɪ‎‎ŋ‎‎/‎‎; 23 de junio de 1912 – 7 de junio de
        1954) fue un ‎‎matemático,‎‎ ‎‎informático,‎‎ ‎‎lógico,‎‎ ‎‎criptoanalista,‎‎ ‎‎filósofo‎‎y biólogo
        ‎‎teórico‎‎inglés. ‎‎ ‎‎[6]‎‎[7]‎‎ ‎‎ Turing fue muy influyente en el desarrollo de ‎‎la informática
        teórica,‎‎proporcionando una formalización de los conceptos de ‎‎algoritmo‎‎ y ‎‎computación‎‎ con la máquina de
        ‎‎Turing,‎‎que puede considerarse un modelo de una computadora de ‎‎propósito general.‎‎ ‎‎ ‎‎[8]‎‎[9]‎‎[10]‎‎
        ‎‎ Turing es ampliamente considerado como el padre de la informática teórica y la ‎‎inteligencia artificial.‎‎
        ‎‎ ‎‎[11]‎‎ ‎

        ‎Nacido en ‎‎Maida Vale,‎‎Londres, Turing se crió en el ‎‎sur de Inglaterra.‎‎ Se graduó en ‎‎el King's College,
        Cambridge,‎‎con un título en matemáticas. Mientras era ‎‎becario‎‎ en Cambridge, publicó una prueba que
        demostraba que algunas preguntas puramente matemáticas de sí-no nunca pueden ser respondidas por computación y
        definió una ‎‎máquina de Turing,‎‎y pasó a demostrar que el ‎‎problema de detención‎‎ para las máquinas de
        Turing es ‎‎indecidible.‎‎ En 1938, obtuvo su ‎‎doctorado‎‎ en el ‎‎Departamento de Matemáticas de‎‎ la
        Universidad de ‎‎Princeton.‎‎ Durante la ‎‎Segunda Guerra Mundial,‎‎Turing trabajó para la ‎‎Government Code and
        Cypher School‎‎ (GC&CS) en ‎‎Bletchley Park,‎‎el centro de ‎‎descejado‎‎ de códigos de Gran Bretaña que produjo
        ‎‎Ultra‎‎ intelligence. Durante un tiempo dirigió ‎‎la cabaña 8,‎‎la sección que se encargaba del criptoanálisis
        naval alemán. Aquí, ideó una serie de técnicas para acelerar la ruptura de los ‎‎cifrados alemanes,
        incluidas‎‎las mejoras en el método ‎‎de bombardeo‎‎ polaco de antes de la guerra, una máquina
        ‎‎electromecánica‎‎ que podía encontrar configuraciones para la ‎‎máquina Enigma.‎‎ Turing jugó un papel crucial
        en descifrar los mensajes codificados interceptados que permitieron a los Aliados derrotar a las potencias del
        Eje en muchos enfrentamientos ‎‎cruciales,‎‎ incluida ‎‎la Batalla del Atlántico.‎‎ ‎‎ ‎‎[12]‎‎[13]‎‎ ‎</p>
    <img src="images/turing.jpg" alt="Imágen de Turing">
</body>

</html>